# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Documentation
*.html
*.js
#*.png
*.css
#*.pvtu
#*.vtu
#*.e 

# Debugger
core.*

# build directory
build

# ide directory
.idea
.idea/workspace.xml


# docs directory
docs/doxy
docs/doxy.log
docs/conf.doxy
docs/AngLima/doxy
docs/AngLima/doxy.log
docs/AngLima/conf.doxy
docs/AvaLima/doxy
docs/AvaLima/doxy.log
docs/AvaLima/conf.doxy

# src directory
src/Config.h

# mac files
*.DS_Store

# output files
*/output*
*/sim_*
*/output*
*/ratbrain_secomb_vgm*

# ignore tests_sim directory
*/tests_sim/*
*/tests_sim*
tests_sim/
test_ignored_dir*

cmake-*/

# ignore specific test directory
test_ignored_dir
